<form>
  <img class="mb-4" src="assets/images/angular-logo.png" alt="logo angular" width="120px" height="120px">
  <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>

  <div class="form-floating mb-1">
    <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de usuario">
    <label for="floatingInput">Nombre de usuario</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary mt-3 custom-btn" type="submit">Ingresar</button>
  <p class="mt-5 mb-3 text-muted">©2017–2022 - Registro de Clientes</p>
</form>